# Name:          config.yaml
# Author:        Daniel Middleton <me@daniel-middleton.com>
# Source:        https://github.com/daniel-middleton/CloudFlare-DDNS-Agent
# Description:   YAML configuration file for the CloudFlare DDNS Agent
# Notes:         1. There's clearly a potential vulnerability should the below IP resolver service be
#                   compromised. You can change this to point at a self-hosted service if necessary or
#                   I'll host a secure public resolver for this purpose if requested (via GitHub).

# Settings used to authenticate in to the CloudFlare API.
authentication:
    # The Email address used to login to CloudFlare.
    email  : email@address.tld
    # Your CloudFlare API key which can be found at https://www.cloudflare.com/my-account.html
    apiKey : your-api-key
    # The Zone (website) name.
    zone   : your-zone.tld

# General settings.
general:
    # Can be set to an interface name (e.g. "eth0") for internal use or "WAN" for internet use
    # and determines which of those IP addresses is synced with CloudFlare.
    interface : WAN

# Records to sync with your IP address. Add more as required.
records:
    www:
        # Record type.
        type : A
        # Time To Live. 1 is automatic, otherwise value must in between 120 and 86400 seconds.
        ttl  : 120
        # Service Mode. 1 is orange cloud (via CloudFlare Proxy) and 0 is grey cloud (direct).
        mode : 1
    
    # This is the main zone A record. You can comment this out if you don't
    # want the main zone record itself to be updated, otherwise please change
    # the placeholder below to your actual zone.
    your-zone.tld:
        type : A
        ttl  : 120
        mode : 1

#    anotherRecord:
#        type : A
#        ttl  : 120
#        mode : 1

#    andAnotherRecord:
#        type : A
#        ttl  : 120
#        mode : 1

# Endpoint URLs.
endpoints:
    # CloudFlare API endpoint URL.
    apiUrl     : https://www.cloudflare.com/api_json.html
    # IP resolver service endpoint URL.
    ipResolver : http://icanhazip.com

# Log locations.
logs:
    # The IP log used by the agent to prevent unnecessary record updates.
    ipLog  : /tmp/cf_ddns_iplog.txt
