Package: cloudflare-ddns-agent
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: python
Maintainer: Daniel Middleton <me@daniel-middleton.com>
Description: DDNS agent for the CloudFlare API.
